:root {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-accent: #007d7b;
    font-family: Arial, Helvetica, sans-serif;
}



body {
    max-width: 1300px;
    background-color: var(--color-primary);
    margin: 0 auto;
}

header {
    background-color: var(--color-secondary);
    color: var(--color-accent);
}

header h1 {
    font-size: 3em;
}

nav {
    background-color: var(--color-primary);
    display: flex;
    justify-content: right;
}

nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav li {
    list-style: none;
    display: grid;
}

nav a {
    font-size: 1.5em;
    text-decoration: none;
    color: var(--color-secondary);
    text-transform: uppercase;
    justify-content: center;
}

a[href="#top"] {
    display: none;
}

main {
    background-color: var(--color-secondary);
}

main h2 {
    text-align: center;
    padding: 20px; 
    text-transform: uppercase;
}

main > p {
    padding: 5px;
    margin: 0;
}

main > div {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    padding: 20px;
}

main > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

main > div > div img {
    width: 100%;
    height: auto;
}

main > div > div p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1em;
}

main > div > div:nth-child(1) p {
    bottom: 0px;
    color: var(--color-secondary);
    font-weight: bold;
}

main > div > div:nth-child(2) p {
    top: 0px;
    color: var(--color-secondary);
    font-weight: bold;
}

main > div > div:nth-child(3) p {
    bottom: 0px;
    color: var(--color-secondary);
    font-weight: bold;
}

main > div > div:nth-child(4) p {
    top: 0px;
    color: var(--color-primary);
    font-weight: bold;
}

main > div > div:nth-child(5) p {
    top: 0px;
    color: var(--color-primary);
    font-weight: bold;
}

main > div > div:nth-child(6) p {
    bottom: 0px;
    color: var(--color-primary);
    font-weight: bold;
}

main > div > div:nth-child(7) p {
    bottom: 0px;
    color: var(--color-secondary);
    font-weight: bold;
}

main > div > div:nth-child(8) p {
    top: 0px;
    color: var(--color-primary);
    font-weight: bold;
}

main > div > div:nth-child(9) p {
    top: 0px;
    color: var(--color-primary);
    font-weight: bold;
}

main > div > div:nth-child(10) p {
    top: 0px;
    color: var(--color-primary);
    font-weight: bold;
}

main > div > div:nth-child(11) p {
    top: 0px;
    color: var(--color-primary);
    font-weight: bold;
}

main > div > div:nth-child(12) p {
    top: 0px;
    color: var(--color-primary);
    font-weight: bold;
}

p {
    font-size: 1.25em;
}

.contact {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-align: center;
    padding: 5px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 20px;
}

form > div {
    display: grid;
    gap: 10px;
    padding: 5px;
    justify-content: center;
}

form > div label {
    font-size: 1em;
    text-align: start;
    margin-left: 10px;
    text-transform: uppercase;
}

form > div input {
    font-size: 1em;
    font-weight: bold;
    width: 1000px;
    height: 30px;
}

form > div > input::placeholder {
    color: var(--color-accent);
    text-transform: uppercase;
}

input[type="submit"] {
    background-color: var(--color-accent);
    border-radius: 10px;
    width: 800px;
    color: var(--color-secondary);  
    margin: 10px;
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
}

@media screen and (max-width: 880px) {
    nav {
        justify-content: center;
    }

    main > div {
        grid-template-columns: repeat(2,1fr);
    }

    main > div > div:nth-child(3) p {
        bottom: 160px;
    }

    form > div input {
        width: 700px;
    }

    input[type="submit"] {
        width: 500px;
    }
}

@media screen and (max-width: 485px) {
    nav {
        justify-content: center;
    }

    main > div {
        grid-template-columns: repeat(1,1fr);
    }

    main > div > div:nth-child(3) p {
        bottom: 0px;
    }

    form > div input {
        width: 300px;
    }

    input[type="submit"] {
        width: 200px;
    }
}
